<h1>SIGN-UP</h1>

<form action="<%= users_url %>" method="POST">
  <label>Username: 
    <input type="text" name="user[user_name]">
  </label>

  <br>
  <br>
  
  <label>Password: 
    <input type="text" name="user[password]">
  </label>

  <br>
  <br>

  <input type="submit" value="YOUR LIFE IS OVER YOU GOT A CAT">
</form>